<% include ./partials/header%>

<h1>Index Code</h1>


    <div class="ui main text container">
        <div class="ui huge header">Le parapluie skate blog</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach((blog) => { %>
                    <div class="item">
                        <div class="image">
                            <img class="ui centered rounded image" src="<%= blog.image %>" > 
                        </div>
                        <div class="content">
                            <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                            <div class="meta">
                                <span><%= blog.created.toDateString() %></span>
                            </div> 
                            <div class="description">
                                <p><%= blog.body.substring(0, 100) %>...</p>
                            </div>
                            <div class="extra">
                                <a class="ui green basic button" href="/blogs/<%= blog._id %>">Read More</a>
                            </div>
                         </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<% include ./partials/footer%>